body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    max-width: 960px;
    min-width: 320px;
    background-image: url(images/Shapes.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0in;
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: repeat(10, 200px);
    grid-template-rows: repeat(10, 200px);
    grid-column-gap: 0px;
  }
  
  header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
  .vertical {
   font-size: 150px;
   transform: translatey(200px) rotate(-90deg);
   transform-origin: bottom right;
  }
  
  .bauhaus {
    grid-column-start: 2;
    grid-column-end; 8;
    grid-row-start: 1;
    grid-row-end: 3
  }
  
  .bauhaus h2 {
    font-size: 72px;
    margin: 0;
    color: white;
  }
  
  .bauhaus p {
    margin: 0;
    color: white;
  }
  
  .date {
   font-size: 200px;
   transform: rotate(-90deg);
   transform-origin: bottom right;
   grid-column-start: 2;
   grid-row-start: 3;
   grid-row-start: 2;
   grid-row-end: 6;
  }
  
  .webaddress {
   font-size: 30px;
   color: black;
   transform: rotate(-90deg);
   transform-origin: bottom right;
   margin: 0;
   grid-column-start: 8;
   grid-column-end: 9;
   grid-row-start: 7;
   grid-row-end: 10;
  }